﻿div{
   margin:0px;
   padding:0px;
   border:0px;
}
   
/*居中*/
body{
   text-align:center;
   background-color:#CCE8CF;
   //rgb(188,222,158);
   //background-color: grey;//灰色
   //background-color: rgb(199,237,204);//豆沙绿,(204,232,207),

} 
/* display inline*/   
.grid{
   display:inline-block;
}
   
input[type="button"]{
   width:90px;
   margin-bottom:40px;
   margin-top:10px;
   font-size:110%;
}
   
div.click_block{
   width:150px;
   height:130px;
   border:0px;
   padding:0px;
   margin:7px;
   border-radius: 10px 10px 10px 10px;   
}
   
#wiki{
    border-radius: 0px 10px 10px 0px;
    vertical-align: middle;
    height: 48px;
    width: 43px;
}
  
#search_input{
      font-size: 28px;
      height: 40px;
      width: 500px;
      vertical-align: middle;
}

p:hover{
    font-size : 30px;
    background-color: red;
}


.click_block{
    background-size: 150px 130px;
}
.click_block:hover{
    background-size: 165px 143px;
}

